*{
    font-size: 25px;
    
}
.titulo{
    width: auto;
    text-align: center;
    font-size: 40px;
}
 
table{    
    width: auto;    
    margin: 0 auto;
    margin-top: 100px;
}
.vacio{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(166,196,250,255);
    border: 1px solid rgba(149,172,217,255);
}

.columna1{
    text-align: center;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(166,196,250,255);
    margin-left: 80px;
    border: 1px solid rgba(149,172,217,255);
}

.columna2{
    text-align: center;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(166,196,250,255);
    margin-left: 80px;
    border: 1px solid rgba(149,172,217,255);
}
.fecha{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(166,196,250,255);
    border: 1px solid rgba(149,172,217,255);
}
.fecha1{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #96cfc0;
    border: 1px solid #8ab4b3;
}
.fecha2{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #b2b1bf;
    border: 1px solid #9fa0ad;
}
.income1{
    background-color: rgba(166,196,250,255);
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid rgba(149,172,217,255);
}
.outcome1{
    background-color: rgba(166,196,250,255);
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid rgba(149,172,217,255);
}
.income2{
    background-color: #addbc0;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid #9bc8b8;
}
.outcome2{
    background-color: #addbc0;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid #9bc8b8;
}
.income3{
    background-color: #cfbdba;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid rgba(149,172,217,255);
}
.outcome3{
    background-color: #cfbdba;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid rgba(149,172,217,255);
}
.income{
    background-color: gray;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid black;
}
.outcome{
    background-color: purple;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid black;
}

.balance{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #a7c2f5;
    border: 1px solid rgba(149,172,217,255);
}
.junto_20{
    text-align: left;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(166,196,250,255);
    margin-left: 0px;
    border: 1px solid rgba(149,172,217,255);
}
.junto_10{
    text-align: left;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(166,196,250,255);
    margin-left: 0px;
    border: 1px solid rgba(149,172,217,255);
}
